$primary: #4b5563; // Cinza médio
$secondary: #9ca3af; // Cinza claro
$accent: #a78bfa; // Lilás suave

$dark: #1f2937;
$dark-page: #111827;

$positive: #34d399;
$negative: #f87171;
$info: #60a5fa;
$warning: #fbbf24;
